<div class="main">
   <!-- <app-navbar></app-navbar> -->
   <div class="component1">
      <h4><b>Find Expert</b></h4>
      <input type="text" size="15">
      <input type="text" size="50">
      <button type="submit" style="color: #ffffff;" id="button">Search</button>
   </div>
   <div class="cards">
      <img src="./assets/result.png" width="350" height="350" class="img">
      <p class="knowmore">
         <span style="color:#f9f6f6; font-size:18px; margin-top: 100%;">Choose the expert for financial
            growth</span><br>
         <span
            style="color:#fdf6f6;font-size: 35px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Your
            financial <br> helath in safe hands</span><br>
         <span style="color:#f5f1f1">Certified Advisores & Community Members</span>
      </p>
      <button type="submit" class="button1" style="color: #ffffff" id="knowmore_b">Know More</button>
   </div>
   <br>
   <p class="line2">Private online consultation with verified,certified financial experts in all sector &nbsp;&nbsp;
      <button type="submit" class="button2">View All Experts</button>
   </p>
   <br>
   <div class="container">
      <div class="row">
         <div class="col-sm-3">
            <div class="card">
               <img class="card-img-top img-fluid" src="./assets/pic1.png" alt="Card image cap">
               <div class="card-block">
                  <p class="card-text">Find An Adviser Near You </p>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="card">
               <img class="card-img-top img-fluid" src="./assets/pic2.png" alt="Card image cap">
               <div class="card-block">
                  <p class="card-text">Find Finance Portfolio Managers</p>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="card">
               <img class="card-img-top img-fluid" src="./assets/pic3.png" alt="Card image cap">
               <div class="card-block">
                  <p class="card-text">Find Stock Market Advisor </p>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="card">
               <img class="card-img-top img-fluid" src="./assets/pic4.png" alt="Card image cap">
               <div class="card-block">
                  <p class="card-text">Find Saving Manager Advisor </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <br>
   <br>
   <hr>
   <div class="container">
      <div class="row">
         <div class="col">
            <p>
               <span id="col1"> Read Top Articles <br>From Financial Experts </span><br>
               <br>
               <span>Financial articles that keep you informed <br>about good finance practice and <br>acheive your
                  goals</span>
               <br>
               <br>
               <br>
               <button type="submit" id="button3">Read More</button>
            </p>
         </div>
         <div class="col">
            <p>
               <span id="col2" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Money
                  Managment Resources <br>You Dont Want to Miss </span><br>
               <br>
               <span id="col2">By Chaunchey Crail,certified Advisor</span>
               <br>
               <span> <br> We strive to provid you with valuable <br>information & resurces. Opinions are from the
                  author alone,not from.. </span><br>
               <button type="submit" id="button3">Read More</button>
            </p>
         </div>
         <div class="col">
            <p>
               <span id="col2" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">11
                  Things to Do When You've Lost <br>Your Job </span><br>
               <br>
               <span id="col2">By Jane Haskins,Contributor</span>
               <br>
               <span>There's no doubt about it:it sucks when you've <br>lost your job.Job loss is stressful under normal
                  <br> times,and even more so with everything...</span><br>
               <br>
               <button type="submit" id="button3">Read More</button>
            </p>
         </div>
      </div>
   </div>
   <div class="finadv">
      <div class="row" id="row2">
         <div class="col">
            <div class="form">
               <h3>Became A Financial Advisor <br>At Money Plant </h3>
               <br>
               <h4>Are you Advisor?Register Now </h4>
               <br>
               <p>Demand for the financial serices offered by community <br>
                  Money Plant is growing,and we are strengthening our <br>
                  finances expertises to meet thet demand </p>
               <p>Money Plant is mission-driven financial advisor community <br>
                  that provide consultation to induviduals,society, <br>
                  Organisation,communication,businesses and house to </p>
            </div>
         </div>
         <div class="col">
            <form>
               <label for="name">Name</label><br>
               <input type="text" style="width: 500px;"><br>
               <label for="mobile">Mobile Number</label><br>
               <input type="text" style="width: 250px;">
               <label for="email">Email</label>
               <input type="text" style="width: 250px;">
            </form>
         </div>
      </div>
   </div>

   <!-- <app-footer>
   </app-footer> -->
</div>
<!-- <router-outlet></router-outlet> -->