<div class="container">
    <div class="row">
        <div class="col">
            <button id="row1" style="color: rgb(11, 11, 11);" (click)="openpopup()"> All Questions</button>
        </div>
        <div class="col">
            <button id="row1" style="color: rgb(11, 11, 11);" (click)="form2()"> All Questions</button>
        </div>
        <div class="col">
            <button id="row1" style="color: rgb(11, 11, 11);"> All Questions</button>
        </div>
        <div class="col">
            <button id="row1" style="color: rgb(11, 11, 11);"> All Questions</button>
        </div>
    </div>
    <div class="row" id="row2">
        <div class="box">
            <p style="color: white;">My Questions</p>
            <div class="box1">
                <p>What should be my rate of saving compared to earninf</p>
                <p style="color: rgb(31, 212, 31);">Answer received</p>
            </div>
            <div class="box1">
                <p>What should be my rate of saving compared to earninf</p>
                <p style="color: rgb(196, 196, 12);">Answer pending</p>
            </div>
            <button class="button1"> Enter a question</button>
        </div>
    </div>
    <div class="row" id="row3">
        <p><b> Questions thet you might find interesting</b></p>
    </div>
    <div class="row" id="rowpad">
        <div class="card">
            <div class="row" id="cardcontnet">
                <h3><b>Where can I invest in Bitcoin?</b></h3>
            </div>
            <div class="row" id="cardcontnet">
                <div class="col">
                    <img src="./assets/pic3.png" style="width: 70px; height:70px" id="pic1">
                    <p id="name" style="color: rgb(24, 113, 248);"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Karundeva | Certified Investement Advisor | 7years of Practice
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="rowpad">
        <div class="card">
            <div class="row" id="cardcontnet">
                <h3><b>Where can I invest in Bitcoin?</b></h3>
            </div>
            <div class="row" id="cardcontnet">
                <div class="col">
                    <img src="./assets/pic3.png" style="width: 70px; height:70px" id="pic1">
                    <div class="row">
                        <p id="name" style="color: rgb(24, 113, 248);"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Karundeva | Certified Investement Advisor | 7years of Practice
                        </p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p id="answer"> As for these cryptocurrency exchanges, one can turn to digital platforms
                                like Coindesk,ZebPay,or Coinbase.These digital exchanges allow investors to
                                purchase Bitcoins at the current
                                market
                                price.In addition, one can use international credit cards to buy Bitcoins on these
                                digital
                                exchanges.
                            </p>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="rowpad">
        <div class="card">
            <div class="row" id="cardcontnet">
                <h3><b>Where can I invest in Bitcoin?</b></h3>
            </div>
            <div class="row" id="cardcontnet">
                <div class="col">
                    <img src="./assets/pic3.png" style="width: 70px; height:70px" id="pic1">
                    <p id="name" style="color: rgb(24, 113, 248);"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Karundeva | Certified Investement Advisor | 7years of Practice
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="rowpad">
        <div class="card">
            <div class="row" id="cardcontnet">
                <h3><b>Where can I invest in Bitcoin?</b></h3>
            </div>
            <div class="row" id="cardcontnet">
                <div class="col">
                    <img src="./assets/pic3.png" style="width: 70px; height:70px" id="pic1">
                    <p id="name" style="color: rgb(24, 113, 248);"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Karundeva | Certified Investement Advisor | 7years of Practice
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>