<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="component1">
                <h4 class="component2"><b>Find Expert</b></h4>
                <input type="text" size="15">
                <input type="text" size="50">
                <button type="submit" style="color: #ffffff;" id="button">Search</button>
            </div>
        </div>
    </div>
    <div class="row" id="mainrow">
        <div class="row">
            <div class="col" id="card1">
                <div class="card" id="expert1">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <img src="./assets/pic1.png" width="200" height="200" class="img">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button>I am here to help</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h3>Sarah Paul</h3>
                            <p>Stock Marcket Specialist <br>4.8 <span class="fa fa-star checked">
                                </span><span class="fa fa-star checked"></span><span
                                    class="fa fa-star checked"></span><span class="fa fa-star checked"></span><br>3,817
                                Ratings | 1221 Reviews <br></p>
                            <p>15 years of experience</p>
                        </div>
                        <div class="col">
                            <p>Fee: 500$/hr</p>
                            <p><button id="button1">Vist Community Profile</button></p>
                            <p><button id="button1">Email Id</button></p>
                            <p><button id="button1">Mobile number</button></p>
                            <p><button id="button2" (click)="openpopup()">Connect Now</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="card1">
                <div class="card" id="expert1">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <img src="./assets/pic1.png" width="200" height="200" class="img">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button>I am here to help</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h3>Sarah Paul</h3>
                            <p>Stock Marcket Specialist <br>4.8 <span class="fa fa-star checked">
                                </span><span class="fa fa-star checked"></span><span
                                    class="fa fa-star checked"></span><span class="fa fa-star checked"></span><br>3,817
                                Ratings | 1221 Reviews <br></p>
                            <p>15 years of experience</p>
                        </div>
                        <div class="col">
                            <p>Fee: 500$/hr</p>
                            <p><button id="button1">Vist Community Profile</button></p>
                            <p><button id="button1">Email Id</button></p>
                            <p><button id="button1">Mobile number</button></p>
                            <p><button id="button2" (click)="openpopup()">Connect Now</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="card1">
                <div class="card" id="expert1">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <img src="./assets/pic1.png" width="200" height="200" class="img">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button>I am here to help</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h3>Sarah Paul</h3>
                            <p>Stock Marcket Specialist <br>4.8 <span class="fa fa-star checked">
                                </span><span class="fa fa-star checked"></span><span
                                    class="fa fa-star checked"></span><span class="fa fa-star checked"></span><br>3,817
                                Ratings | 1221 Reviews <br></p>
                            <p>15 years of experience</p>
                        </div>
                        <div class="col">
                            <p>Fee: 500$/hr</p>
                            <p><button id="button1">Vist Community Profile</button></p>
                            <p><button id="button1">Email Id</button></p>
                            <p><button id="button1">Mobile number</button></p>
                            <p><button id="button2" (click)="openpopup()">Connect Now</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="card1">
                <div class="card" id="expert1">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <img src="./assets/pic1.png" width="200" height="200" class="img">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button>I am here to help</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h3>Sarah Paul</h3>
                            <p>Stock Marcket Specialist <br>4.8 <span class="fa fa-star checked">
                                </span><span class="fa fa-star checked"></span><span
                                    class="fa fa-star checked"></span><span class="fa fa-star checked"></span><br>3,817
                                Ratings | 1221 Reviews <br></p>
                            <p>15 years of experience</p>
                        </div>
                        <div class="col">
                            <p>Fee: 500$/hr</p>
                            <p><button id="button1">Vist Community Profile</button></p>
                            <p><button id="button1">Email Id</button></p>
                            <p><button id="button1">Mobile number</button></p>
                            <p><button id="button2" (click)="openpopup()">Connect Now</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="card1">
                <div class="card" id="expert1">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <img src="./assets/pic1.png" width="200" height="200" class="img">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button>I am here to help</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h3>Sarah Paul</h3>
                            <p>Stock Marcket Specialist <br>4.8 <span class="fa fa-star checked">
                                </span><span class="fa fa-star checked"></span><span
                                    class="fa fa-star checked"></span><span class="fa fa-star checked"></span><br>3,817
                                Ratings | 1221 Reviews <br></p>
                            <p>15 years of experience</p>
                        </div>
                        <div class="col">
                            <p>Fee: 500$/hr</p>
                            <p><button id="button1">Vist Community Profile</button></p>
                            <p><button id="button1">Email Id</button></p>
                            <p><button id="button1">Mobile number</button></p>
                            <p><button id="button2" (click)="openpopup()">Connect Now</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="show">
    <div class="content">
        <div class="close" (click)="closepopup()">
            &times;
        </div>
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Name</label><br>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Mobile Number:</label>
                        <input type="number" class="form-control" id="mob">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" id="mob1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Send Message</label>
                        <textarea name="Send Message" id="Send Message" cols="100" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="row" id="checkbox">
                <div class="col">
                    <div class="form-group">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> Receive relevent offers and promotional communications from
                            Money Plant </label><br>&nbsp; I agree to Money Control's term of use<br>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-success mt-4" (click)="openpopup2()"> submit</button>
    </div>
    <div class="confirm" *ngIf="popup">
        <div class="content2">
            <div class="close2" (click)="closepopup2()">

                &times;
            </div>

            <!-- <span class="tick" style='font-size:100px;'>&#9989;</span> -->
            <div class="screen">
                <h3>
                    <p style="color: white;">Congratulations!!!! </p>
                </h3>
                <p style="color: white;">Your message hase been send to our consultant</p>
                <h5 style="color: white;">Our team will get in touch with you soon....</h5>
            </div>
        </div>
    </div>
</div>