<footer class="text-center text-white" id="footer">
  <div class="container p-4" id="row1">
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0" id="c1">
          <h5 class="text-uppercase">Money Plant</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white" id="c2">About us</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Blog</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Help & Support</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Terms & Condition</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Disclaimer</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0" id="c1">
          <h5 class="text-uppercase">Explore</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white" id="c2">Advisor</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Consulting Companies</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Learners Corner</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Top Investments</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Insurance</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Stock Investments</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0" id="c1">
          <h5 class="text-uppercase">TOP COURSES</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white" id="c2">Financial Markets</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Master of Management</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Money Management</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Stock Markets</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Basics of Finance</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Tax Savings</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0" id="c1">
          <h5 class="text-uppercase">quick links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white" id="c2">Community Membership</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Frequently asked Questions</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Help</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Articles</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Trending Now</a>
            </li>
            <li>
              <a href="#!" class="text-white" id="c2">Glossary</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0" id="c3">
          <h5 class="text-uppercase">contact us</h5>
          <ul class="list-unstyled mb-0">
            <br>
            <li>
              email@example.com
            </li>
            <li>
              +91-2220991978
          </ul>
        </div>
      </div>
    </section>
  </div>
  <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
</footer>